* { margin: 0; padding: 0; box-sizing: border-box; text-rendering: optimizelegibility;}

@media screen and (max-width: 1000px) { 

    body, article, #column, #footer, #footer p {
        width: 100% !important; }

    #column, #footer {
      word-wrap: break-word !important;
      padding: 1em 1em !important;
      p, li { 
        font-size: 24px !important; 
        line-height: 30px !important;
      }

      blockquote, pre { 
        margin: 0 !important;
        padding: 0.75em !important }
      ul, ol { margin: 1em 0.5em !important; }
      img { max-width: 100%; }
      .caption { border-left: none !important ;}
    }
    h1, h2, h3, h4, h5 { 
      margin-left: 0 !important;
    }

    h1 { font-size: 2em !important; }
    #header, #header img {height: 50px !important;background-size: 25px !important}
}

$bgcolor: #3c2957;
$fgcolor: #b981b8;
$shaded: $fgcolor; 
$gray: #666; 

html, body { 
  height: 100% ;
  background: $bgcolor;
}

a         { color: black}
a:visited { color: $gray; }

/* This looks cool but is harder to follow than ordinary lines
p a:after { content: "°"; }
p a[href*="//"]:not([href*="dampfkraft.com"]):after {
  content: "† ";
}
*/

a.article-link { 
  text-decoration: none ;
  color: $bgcolor;
  &:visited { color: $bgcolor; }
}

#header {
    width: 100%; 
    height: 100px;
    background: url(/meander.50.png);
    background-repeat: repeat-x;
    background-position: bottom;

    img { background: white; margin-left: 23px;}
    border-bottom: 10px solid $bgcolor;
}

article { 
  width: 550px; 
  margin-bottom: 4em;
}

#column .img .caption {
  background: $shaded;
  margin-top: -5px; /* not sure why this is necessary */
  padding: 0 0.5em;
  border: 2px solid $bgcolor;
  border-top: none;
  border-right: none;
}

#footer {
  background: $bgcolor;
  color: white;
  p { width: 550px; }
  a { color: $fgcolor; }
  a:visited { color: $shaded }
}

#column { 
  border-top: 10px solid $fgcolor;
  border-bottom: 10px solid $fgcolor;
  background: white;
  blockquote, pre {
    background: $shaded;
    margin: 0 ;
    padding: 0.75em;
    border-top: 2px solid $bgcolor;
    p { margin: 0; }
  }
}


#column, #footer {  
  margin-right: 0;
  padding: 1em 5em;
  font-family: "EB Garamond", Georgia, serif;

  .location , .series { 
    margin: 0.5em 0 -1em 0;
    color: $bgcolor;
    font-style: italic;
    font-size: 100%;
  }

  p, li { 
    font-size: 1.3em; 
    line-height: 30px;
  }

  p { margin: 1em 0; }
  li { margin: 0 1em; }
  ul, ol { margin: 1em  2em; }
  ul { list-style-type: square; }

  h1, h2, h3, h4, h5 { 
    font-family: "Sorts Mill Goudy",serif;
    font-weight: normal;
    margin-left: -20px;
    margin-bottom: -0.25em;
    color: $bgcolor;
  }

  h1 { font-size: 3em; }

  h2 { font-size: 2em; }

  h4 {
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
  }

  code {  
    font-family: profontwindowsregular, Courier New, monospace; 
  }
  li code, p code { 
    background: $shaded; 
    padding: 1px 5px;
  }

  .date { font-style: italic; }
  .tags { 
      color: $gray; 
      font-size: 0.8em;
      font-style: italic;
  }

  img, iframe { max-width: 100%; }

  input.deltos-search {
      width: 100%;
      height: 1.5em;
      font-size: 1.5em;
  }

  .deltos-results {
      max-height: 12em;
      overflow: hidden;
      div {
          max-height: 3em;
          overflow: hidden;
      }
  }

}

@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:400);

@font-face {
    font-family: 'profontwindowsregular';
    src: url('profontwindows-webfont.eot');
    src: url('profontwindows-webfont.eot?#iefix') format('embedded-opentype'),
         url('profontwindows-webfont.woff2') format('woff2'),
         url('profontwindows-webfont.woff') format('woff'),
         url('profontwindows-webfont.ttf') format('truetype'),
         url('profontwindows-webfont.svg#profontwindowsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


